* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: ubuntu;
    background-color: #eaeaea
}
.button {
    cursor: pointer;
}
.button:hover{
    opacity: 0.6;
}
.button.inactive{
    cursor: auto;
    opacity: 0.6;
}
form {
    display: inline-block;
}
h1 {
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
}
h2, h3 {
    margin: 0 auto;
    padding-left: 10px;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#status {
    margin: 0 auto 10px 0;
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    color: limegreen;
    height: 100px;
    overflow-y: scroll;
}
hr.main {
    border-top: 3px double black;
}
#erase {
    color: pink;
    position: absolute;
    z-index: 10;
    top: 90px;
    right: 10px;
    background: rgba(0, 0, 0, 0);
}
#loader-img {
    position: absolute;
    left: 40%;
    top: 30%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 20vw;
    padding-top: 20vw;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#function-table {
    display: none;
    margin-left: auto;
    margin-right: auto;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid black;
}
th, td {
    padding: 3px;
}
th {
    height: 2em;
}
p {
    margin-left: 10px;
}
.table-container {
    text-align: center;
}
.vl {
    border-left: 3px double black;
    height: 100%;
    left: 50%;
    margin-left: -3px;
    position: absolute;
}
.selection-box {
    font-size: 16px;
    border-radius: 16px;
    outline: none;
}
.routine-info, .shots-info {
    display: none;
}
.num-box {
    width: 50px;
    outline: none;
}
.text-box {
    outline: none;
}
#to-plots {
    position: absolute;
    top: 20px;
    right: 5%;
}
#to-analysis {
    position: absolute;
    top: 20px;
    left: 5%;
}
.page-change {
    position: absolute;
    height: 36px;
    width: 144px;
    border-radius: 300px;
    outline: none;
}
#shots-choice {
    width: 200px;
}
.analysis-label {
    margin-left: 10px;
}
#oldnew-toggle-container {
    float: right;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    bottom: 5px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 17px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}
#oldnew-toggle:checked + .slider {
    background-color: #2196F3;
}
#oldnew-toggle:focus + .slider {
    box-shadow: 0 0 0.5px #2196F3;
}
#oldnew-toggle:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
