* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: ubuntu;
}
body {
    background-color: #eaeaea;
    overflow-x: hidden;
}
.button {
    cursor: pointer;
}
.button:hover{
    opacity: 0.6;
}
.button.inactive{
    cursor: auto;
    opacity: 0.6;
}
h1 {
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
}
h2 {
    margin: 0 auto;
    padding-left: 10px;
}
.column {
    float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#status {
    margin: 0 auto 10px 0;
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    color: limegreen;
    height: 160px;
    min-height: 160px;
    overflow-y: scroll;
    resize: vertical;
}
hr.main {
    border-top: 3px double black;
}
#erase {
    color: pink;
    position: absolute;
    z-index: 10;
    top: 90px;
    right: 10px;
}
#loader-img {
    position: absolute;
    left: 40%;
    top: 30%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 20vw;
    padding-top: 20vw;
    animation: spin 2s linear infinite;
    z-index: 1001;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #eaeaea;
    z-index: 1000;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid black;
}
th, td {
    padding: 3px;
}
th {
    height: 2em;
}
p {
    margin-left: 10px;
}
.table-container {
    text-align: center;
}
#custom-handle {
    cursor: ew-resize;
    width: 4em;
    height: 3em;
    top: 50%;
    margin-top: -2em;
    text-align: center;
}
#period {
    outline: none;
    width: 3em;
    border: 1px solid lightgrey;
    margin: auto;
}
#slider {
    display: inline-block;
    width: 70%;
    float: right;
    margin-right: 5%;
    position: relative;
    top: 1.5em;
    background-image: linear-gradient(to right, #fea3aa, #f8b88b, #faf884, #baed91, #b2cefe, #f2a2e8);
}
#period::-webkit-outer-spin-button,
#period::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#timer {
    margin: 0 auto;
    width: auto;
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    color: limegreen;
    background-size: auto;
    font-size: 32px;
    display: inline-block;
}
#toggle-grid {
    margin: 10px;
    position: absolute;
    left: 10%;
}
#grid-options {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    background: palegoldenrod;
    padding-bottom: 80px;
    z-index: 10;
}
#slider-grid {
    margin: 0 auto;
    position: relative;
    top: 50px;
    width: 5px;
}
#routine-list {
    border: 2px solid black;
    padding-left: 0;
    height: 10em;
    overflow-y: scroll;
    background-color: lightgrey;
}
.routine {
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.routine:nth-child(even) {
    background-color: #a5a5a5;
}
.routine.ui-selecting {
    background: lightblue;
}
.routine.ui-selected {
    background: skyblue;
}
#add-routine-form {
    display: inline-block;
}
.routine.running {
    color: green;
}
.routine.error {
    color: red;
}
#filter {
    outline: none;
    border: none;
    font-size: 16px;
}
#slider-status-size {
    position: absolute;
    z-index: 10;
    top: 120px;
    right: 20px;
    width: 5px;
}
#slider-status-size .ui-slider-handle, #slider-grid .ui-slider-handle {
    height: 10px;
    margin-left: -2px;
    cursor: ns-resize;
}
.paused {
    color: dodgerblue;
}
.filtered:not(.ui-selected) {
    display: none;
}
#help {
    position: absolute;
    top: 3%;
    right: 3%;
}
.period-tick {
    border-left: 2px solid grey;
    height: 14px;
    position: absolute;
    width: 100px;
}
.period-tick-label {
    position: relative;
    bottom: 20px;
    left: -6px;
}
#fullscreen {
    position: absolute;
    z-index: 10;
}
#plots-container-parent {
    width: 98%;
    height: 2000px;
    margin: 0 auto;
    background: beige;
    position: relative;
}
#plots-container {
    width: 100%;
    height: 100%;
}
.plot-container {
    background-size: cover;
}
.table-container {
    background-color: #eaeaea;
}
.plot-container, .table-container {
    cursor: move;
    border: 2px solid black;
    float: left;
    margin: 2px;
}
.plot-container.highlight, .table-container.highlight {
    border: 2px solid indianred;
}
.plot-list-item, .plot-list-routine-title {
    list-style-type: none;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    cursor: pointer;
}
.plot-list-item {
    margin-left: 0;
    padding-left: 10px;
}
.plot-list-routine-title {
    padding-left: 0;
    margin-left: -10px;
}
.plot-list-item.visible:before, .plot-list-routine-title.visible:before {
    content: "\f06e";
    font-family: FontAwesome;
    margin-left: -20px;
    font-size: 12px;
    display: inline-block;
    width: 20px;
}
.plot-list-item.invisible, .plot-list-routine-title.invisible {
    opacity: .6;
}
.plot-list-item.invisible:before, .plot-list-routine-title.invisible:before {
    content: "\f070";
    font-family: FontAwesome;
    margin-left: -20px;
    font-size: 12px;
    display: inline-block;
    width: 20px;
}
#plot-list{
    margin: 0;
    padding: 0;
    text-align: left;
}
#new-log-path {
    width: 100%;
    outline: none;
}
code {
    font-family: 'Source Code Pro', monospace;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    margin-bottom: 1.6em;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
#help-dialog-container {
    position: fixed;
    z-index: 100;
}
.indent {
    margin-left: 40px;
}
.step {
    background: #f4f4f4;
    margin-right: 20px;
}
.step:hover {
    background: #ddd;
}