* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: ubuntu;
}
body {
    background-color: #eaeaea;
}
.button {
    cursor: pointer;
}
.button:hover{
    opacity: 0.6;
}
.button.inactive{
    cursor: auto;
    opacity: 0.6;
}
h1 {
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
}
h2 {
    margin: 0 auto;
    padding-left: 10px;
}
.column {
    float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#status {
    margin: 0 auto 10px 0;
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    color: limegreen;
    height: 160px;
    min-height: 160px;
    overflow-y: scroll;
    resize: vertical;
}
hr.main {
    border-top: 3px double black;
}
#erase {
    color: pink;
    position: absolute;
    z-index: 10;
    top: 90px;
    right: 10px;
}
#loader-img {
    position: absolute;
    left: 40%;
    top: 30%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 20vw;
    padding-top: 20vw;
    animation: spin 2s linear infinite;
    z-index: 1001;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #eaeaea;
    z-index: 1000;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid black;
}
th, td {
    padding: 3px;
}
th {
    height: 2em;
}
p {
    margin-left: 10px;
}
.table-container {
    text-align: center;
}
#custom-handle {
    width: 4em;
    height: 2.5em;
    top: 50%;
    margin-top: -2em;
    text-align: center;
}
#period {
    outline: none;
    width: 3em;
    border: 1px solid lightgrey;
    margin: auto;
}
#slider {
    display: inline-block;
    width: 50%;
    float: right;
    margin-right: 5%;
    position: relative;
    top: 1.5em;
}
#period::-webkit-outer-spin-button,
#period::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#period-label {
    position: relative;
    float: right;
    right: 62%;
    top: 1em;
}
#timer {
    margin: 0 auto;
    width: auto;
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    color: limegreen;
    background-size: auto;
    font-size: 32px;
    display: inline-block;
}
#custom-handle {
    cursor: ew-resize;
}
#toggle-grid {
    background: transparent;
    float: right;
    margin: 10px;
}
#grid-options {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 5%;
    background: rgba(0, 0, 0, .3);
    padding-bottom: 80px;
}
#grid-size {
    outline: none;
    margin-bottom: 10px;
}
#slider-grid {
    margin: 0 auto;
    position: relative;
    top: 50px;
    width: 5px;
}
#routine-list {
    border: 2px solid black;
    padding-left: 0;
    height: 10em;
    overflow-y: scroll;
    background-color: lightgrey;
}
.routine {
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.routine:nth-child(even) {
    background-color: #a5a5a5;
}
.routine.ui-selecting {
    background: lightblue;
}
.routine.ui-selected {
    background: skyblue;
}
#add-routine-form {
    display: inline-block;
}
.routine.running {
    color: green;
}
.routine.error {
    color: red;
}
#filter {
    outline: none;
}
#slider-status-size {
    position: absolute;
    z-index: 10;
    top: 120px;
    right: 20px;
    width: 5px;
}
#slider-status-size .ui-slider-handle, #slider-grid .ui-slider-handle {
    height: 10px;
    margin-left: -2px;
    cursor: ns-resize;
}