{% extends "base.html" %}
{% block styles %}
    <link href="../static/css/plot.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}plot{% endblock %}
{% block content %}
    <button id="to-analysis" class="page-change button">Go to settings</button>
    <hr class="main">
    <div class="row">
        <i class="material-icons button" style="color:green;" title="start analysis" id="start-analysis" title="start analysis">play_arrow</i>
        <i class="material-icons button inactive" style="color:dodgerblue;" title="pause analysis" id="pause-analysis" title="pause analysis">pause</i>
        <i class="material-icons button inactive" style="color:red;" title="stop analysis" id="stop-analysis" title="stop analysis">stop</i>
        <p id="timer">00.00</p>
    </div><hr>
    <div class="row">
        <div class="column left" style="width: 20%">
            <h2>Plots</h2><hr class="main">
            <ul id="plot-list"></ul>
        </div>
        <div class="column right" style="width: 80%">
            <div id="plots-container"></div>
        </div>
    </div>
{% endblock %}
{% block script2 %}
    <script src="../static/js/img.js"></script>
{% endblock %}